
/* Кнопка  помаранчева*/
.button{
	border-radius: 4px;
	letter-spacing: 0.5px;
	font-weight: 700;
	line-height: 1.25;
	color: #fff;
	display: inline-block;
	padding: 16px 40px;
	position: relative;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	
}
.button span{
	position: relative;
	z-index: 2;
}
.button::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease 0s;
	opacity: 0;
	border-radius: 4px;
	background: linear-gradient(55.95deg, #ca3530 0%, #c94d05 100%);
}
.button:hover::before {
	opacity: 1;
}

/* Кнопка біла */
.button--bg{
	background: transparent;
	position: relative;
	border: 1px solid #FF3F3A;
	color:#FF3F3A;
	padding: 15px 40px;
	transition: all 0.3s ease 0s;
}
.button--bg:hover{	
	color: #fff;
	border: 1px solid #FF3F3A;
	background-color: #FF3F3A;
}
/* ================================== */

	/* padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #fff;
	font-family: Montserrat;
}
button {
	background-color: inherit;
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
}
.button{
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	
	border-radius: 4px;
	
	background: 
		linear-gradient(to right, 
		 #FF3F3A 0%, #F75E05 100%)
		  left top / 100% 5px no-repeat,
		linear-gradient(to right,
		 #FF3F3A 0%, #F75E05 100%) 
		 left bottom / 100% 5px no-repeat;
}
.button::before,
.button::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 10px;
	top: 0;
}
.button::before{
	left: 0;
	border-radius: 10px 0 0px 10px;
	border: 5px solid #FF3F3A;
	border-right: none;
}
.button::after {
	right: 0;
	border-radius: 0 10px 10px 0;
	border: 5px solid #F75E05;
	border-left: none;
}
.button span {
	display: block;
	padding: 15px 30px;

	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
	color: #fff;
	font-size: 16px;
	position: relative;
	z-index: 2;
}
.button span::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%) 0 0 / auto 100% no-repeat;
	opacity: 0;
	transition: all 0.3s ease 0s;
	z-index: -1;
} */
/* .button:hover span::before {
	opacity: 1;
} */

/*  */


/* .button--bg{
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%) 0 0 / auto 100% no-repeat;

} */